.tableCountDiv {
  display: flex;
  flex-wrap: wrap;
}

.SeatingChartDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.margin {
  margin: 8px;
}

.tableEditComponent {
  padding: 5px;
  width: calc(100% - 24px);
  margin-right: 8px;
  margin-left: 8px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
}
